.video-grid{
    margin-right: 50px;
    margin-left: 24px; /* tweak this value until it matches the reference */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 8px;
    row-gap: 22px;
}
    @media  (max-width: 790px){
        .video-grid {
        grid-template-columns: 1fr 1fr;
            }
    }
    @media  (min-width: 1100px){
        .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
            }
    }      
    .large-grids{
        height: 270.33px;
        width: 300px;
        display: grid;
        grid-template-rows: 168.33px 102.33px;
        border-radius: 15px;
        box-sizing: border-box;
    }
    .thumnails-grids{
        height: 168.33px;
        position: relative;
    }
    .thumnails-down-grids{
        cursor: pointer;
        height: 110px;
        display: grid;
        grid-template-columns: 48px 1fr;
     }
    .thumnails{
        width: 300px;
        margin-bottom: 8px;
        
    }   
    .c-pic{
        width: 36px;
        border-radius: 38px;
        margin-top: 5px;
    }
    .video-link
    {
        text-decoration: none;
        color: black;
    }
    .tittle{ 
        margin-right: 5px;
        margin-top: 12px;
        margin-bottom: 10px;
        font-weight: 550;
        font-size: 14px;
        width: 250px;
        line-height: 20px;
        margin-left: 1px;
    }
    .down-info,
    .down-stats{
        color: rgb(96, 96, 96);
        margin-bottom: 5px;
        font-size: 13px;    
    }
    .timeline{
        font-family: roboto;
        position: absolute;
        background-color:black;
        color: white;
        bottom: 11px;
        right: 12px;
        padding: 4px;
        font-size: 12px;
        border-radius: 2px;
        font-weight: 500;
    }

